body {
  margin: 5em 10% 0 10%;
  font-family: "Liberation Sans", Arial, sans-serif;
  font-size: 1.2vw;
  text-align: left;
  color: #000;
  background: #EEE no-repeat;
  background-image: url(imgs/food-left.png), url(imgs/food-right.png);
  background-position: 0 0, 100% 0;
}
@media (min-width: 1200px) {
  body {
    margin: 5em 20% 0 20%;
    font-size: 1vw;
  }
}
@media (max-width: 1070px) {
  body {
    background-size: 50% auto;
  }
}
@media (max-width: 800px) {
  body {
    margin: 3em 5% 0 5%;
    font-size: 2vw;
  }
}
@media (max-width: 500px) {
  body {
    margin: 2em 2% 0 2%;
    font-size: 3vw;
  }
}

#logo {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 48px;
  height: 48px;
}

h1 {
  margin: 0 0 1em 0;
  text-align: center;
  font-size: 4vw;
  color: #FFF;
  text-shadow:
    -0.07em -0.07em 0.02em #444,
    -0.07em  0.07em 0.02em #444,
     0.07em -0.07em 0.02em #444,
     0.07em  0.07em 0.02em #444,
    -0.07em -0.07em 0.02em #000,
    -0.07em  0.07em 0.02em #000,
     0.07em -0.07em 0.02em #000,
     0.07em  0.07em 0.02em #000,
     0.12em  0.12em 0.15em rgba(0,0,0,0.7),
     0.12em  0.12em 0.20em rgba(0,0,0,0.7);
}
.title-publico {
  display: block;
}
@media (min-width: 1200px) {
  h1 {
    font-size: 2.5vw;
  }
  #logo {
    width: 96px;
    height: 96px;
  }
}
@media (max-width: 800px) {
  h1 {
    font-size: 7vw;
    margin-bottom: 0.5em;
  }
  .title-ferramenta, .title-tipo {
    display: block;
  }
  .title-conector {
    display: block;
    font-size: 0.7em;
    margin: -0.2em;
  }
}

h2 {
  color: #777;
  font-size: 1.6em;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

section {
  display: block;
  border-radius: 3px;
  background: #FFF;
  box-shadow: 0.2em 0.2em 1em rgba(0,0,0,0.5);
  padding: 0.1em 1.2em;
  margin-bottom: 2em;
  text-align: justify;
}

#intro {
  font-size: 1.2em;
  line-height: 1.5em;
}

ul {
  padding: 0 0 0 1em;
  text-align: left;
}

table {
  border-collapse: collapse;
  border: 2px solid #999;
  margin: 1.2em 0;
  width: 100%;
}
th {
  background: #EEE;
  border: 1px solid #CCC;
  text-align: center;
  padding: 0.5em 0;
}
td {
  border: 1px solid #CCC;
  padding: 0 5px;
  height: 2em;
}
caption {
  text-align: left;
  white-space: nowrap;
  font-weight: bold;
  margin: 4px 0;
}

.mao-nome {
  padding: 0;
}
.mao-nome input {
  width: 100%;
  padding: 0;
  border: none;
}
.mao-diaria, .mao-dps, .mao-valMes, .mao-valDia, .valMes, .valDia {
  text-align: right;
}
tr.actions td, td.actions {
  text-align: center;
}

button {
  font-size: 1em;
}

.del {
  font-size: 1.3em;
  display: inline-block;
  background: #C00;
  color: #FFF;
  border-radius: 1em;
  text-align: center;
  line-height: 1.3em;
  width: 1.3em;
  cursor: pointer;
}

input {
  text-align: center;
  font-family: "Liberation mono", "Courier New", monospace;
  font-size: 1em;
}

hr {
  border: none;
  border-top: 3px dotted #CCC;
  margin: 2em 0;
}

.send-issue {
  font-size: 0.85em;
  background: #FE4;
  padding: 0.3em 0.5em;
  margin-top: -0.5em;
  border-radius: 0.4em;
}

.nota-rodape {
  text-style: italic;
}
.nota-ref, .nota-ancora {
  color: red;
}

.produto .nome-prod {
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 1.3em;
  padding: 0;
  margin: 0 0 1em 0;
  border: 1px solid #DDD;
  text-align: left;
}
.produto ul {
  margin: 0.5em 0;
}

#varlist-box {
  display: none;
  position: fixed;
  top: 10vh;
  right: 10px;
  width: 11vw;
  padding: 1em;
  border: 1px solid #000;
  background: #CCC;
  font-size: 0.85em;
}

#varlist-box h2 {
  margin: 0 0 0.5em 0;
}

#varlist-box p {
  font-size: 0.85em;
  margin: 1em 0 0 0;
}

#varlist {
  line-height: 1.6em;
}
#varlist b {
  display: block;
}

@media (max-width: 800px) {
  #varlist-box {
    top: -1px;
    left: -1px;
    right: -1px;
    width: auto;
  }
  #varlist {
    white-space: normal;
  }
  #varlist b {
    display: inline-block;
    width: 25%;
  }
}

#aurium {
  padding: 1em 0 1.5em;
}

#aurium a {
  position: absolute;
  right: 2em;
  text-decoration: none;
  color: #E90;
  font-size: 0.8em;
}

#aurium a b {
  color: #D00;
}

